.all {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    background-color: ghostwhite;
    color: black;
    width: 25%;
    height: 900px;
    padding: 30px;

}

.chat {
    padding: 10px 50px;
    background: gainsboro;
    border-radius: 10px;
    text-align: center;
    width: 300px
}
.view {
    padding: 10px 50px;
    background: gainsboro;
    border-radius: 10px;
    text-align: center  ;
    width: 300px

}
.drop {
    padding: 10px 50px;
    width: 300px;
    background: gainsboro;
    border-radius: 10px;
    text-align: center
}