.input {
    width: 100%;
    padding: 30px
}
.input input {
    width: 80%;
    padding: 15px;
    background-color: gainsboro;
    border-radius: 50px;
    border: 1px solid gainsboro;

}
.input input:focus {
    border: unset
}